@model TaskViewModel
@{
    ViewData["Title"] = "Tasks";
}

<div class="tasks-wrapper p-4">
    <div class="fw-bold fs-1">Список всех задач</div>
    <div class="tasks-container">
        @foreach (var task in Model.Tasks)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@task.Title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@task.CreatedAt.ToString("g")</h6>
                        <p class="card-text">@task.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>